body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e6ffe6;
    color: #2f4f2f;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f4f2f;
    padding: 10px 20px;
    color: white;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.nav-links a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    background-image: url("../../image/main.png");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    padding-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.main-content {
    text-align: center;
    margin-top: -100px;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.start-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.start-button:hover {
    background-color: #45a049;
}

.form-container {
    background-color: #ccffcc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    margin-top: -100px;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-button {
    font-size: 1em;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #2f4f2f;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
