{% extends 'base.html' %}

{% block title %}Piro Game{% endblock %}

{% block content %}
<div class="main-content">
    <h1>Piro Game</h1>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.nickname|default:user.username }} 님!</p>
        <button class="start-button" onclick="location.href='{% url 'games:attack' %}'">start</button>
        <button class="start-button" onclick="location.href='{% url 'games:list' %}'">list</button>
    {% else %}
        <button class="start-button" onclick="checkbtn(false)">start</button>
    {% endif %}
</div>
<script>
    function checkbtn(isAuthenticated) {
        if (!isAuthenticated) {
            alert('로그인해주세요.');
        }
    }
</script>
{% endblock %}
